:root {
  --cor-primaria: #838383;
  --cor-secundaria: #65727a;
  --cor-tercearia: #c0c2c2;
  --cor-quarta:white;
  --cor-quinta:black;
}

.category{
  background-color:var(--cor-primaria);
  color: var(--cor-secundaria);
  
  border-radius: 30px;
  border: 4px solid rgb(255, 255, 255);
  
  max-width: 1000px;
  margin: auto;
  margin-bottom: 5px;
  padding: 20px;
}

.campo{
  border: 1px solid white;
  border-radius: 15px;
  text-align: center;
  padding: 5px;

  display: inline-block;
  margin: 5px; /* margem entre as divs */
  max-width: 200px;
  min-width: 100px;
}
.campoS{
  border: 1px solid white;
  border-radius: 15px;
  text-align: center;
  padding: 5px;

  display: inline-block;
  margin: 5px; /* margem entre as divs */
}

div.campo:hover{
  background-color:#1028aa;
  color: #65727a;
  box-shadow: 1px 1px 1px white;
}

/* Estilo para a classe .filecss */
.filecss {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Cor de fundo azul */
  color: #fff; /* Cor do texto branco */
  border-radius: 5px; /* Borda arredondada */
  text-decoration: none; /* Remover sublinhado */
  font-size: 16px; /* Tamanho da fonte */
  font-weight: bold; /* Negrito */
  border: 2px solid #007bff; /* Borda sólida */
  transition: background-color 0.3s, color 0.3s; /* Transição suave */
}

/* Estilo de hover para a classe .filecss */
.filecss:hover {
  background-color: #0056b3; /* Cor de fundo mais escura no hover */
  color: #fff; /* Cor do texto branco no hover */
}