*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #6188FF;
    background-image: url('rua-em-nova-york-vista-linda_389847-8\ \(1\).avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    margin: 0px;
}

h1{
    text-align: center;
    color: white;
}
h2{
  text-align: center;
  color: white;
}
#inicio{
  box-shadow: none;
  padding: 0px;
  width:150px;
}
  
button{
  margin-top: 2px;
}
  fieldset{
    text-align: center;
    border-radius: 30px;
    width: 40vw;
    padding: 2px;
    margin-top: 10px;
  }
  fieldset:hover{
    background-color: rgba(255, 255, 255, 0.26);
    color:white;
    box-shadow: 1px 1px 20px  rgb(240, 141, 13);

  }
  legend{
    color: rgb(240, 141, 13);
    font-weight: bolder;
    font-size: 20px;
  }
  
  .senhas{
    color: rgb(255, 253, 253);
  }
  .links{
    color: rgba(218, 221, 46, 0.836);
  }
  button{
    padding: 5px 10px;
    width: 100px;
    background-color: rgb(240, 141, 13);
    border-radius: 20px;
    border: 2px solid white;
    color: black;
    font-weight: bolder;
  }
  button:hover{
    background-color: #6188FF;
    color: black;
    cursor: pointer;
    box-shadow:2px 2px 15px 8px white;
    border: 2px solid black;
  }
  .favorito{
    background-color: rgba(240, 142, 13, 0.158);
  }
  span{
    color: white;
  }
  p{
    display: none;
  }
  img{
    width: 20vw;
  }
  
  nav{
    text-align: center;
    padding: 30px;
    background-color: #0b1533be;
    border-bottom: 2px solid rgb(240, 141, 13);
  }

  nav a{
    color: rgb(255, 145, 1);
    margin: 10px;
    text-decoration: none;
    font-weight: bolder;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
  }
 /* nav a:hover{
    background-color: rgba(255, 255, 255, 0.26);
    color:white;
    box-shadow: 1px 1px 20px  rgb(240, 141, 13);
  }
   */