*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #6188FF;
    background-image: url('rua-em-nova-york-vista-linda_389847-8\ \(1\).avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    margin: 0px;
}
h1{
    text-align: center;
    color: white;
}
h2{
  text-align: center;
  color: white;
}
  .category{
    background-color:#0b1533be;
    color: #6188FF;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(240, 141, 13);
    max-width: 1000px;
    margin: auto;
    box-shadow: 0px 6px 10px rgb(240, 141, 13);
  }
button{
  margin-top: 2px;
}
  fieldset{
    text-align: center;
    border-radius: 30px;
    width: 40vw;
    padding: 2px;
    margin-top: 10px;
  }
  fieldset:hover{
    background-color: rgba(255, 255, 255, 0.26);
    color:white;
    box-shadow: 1px 1px 20px  rgb(240, 141, 13);

  }
  legend{
    color: rgb(240, 141, 13);
    font-weight: bolder;
    font-size: 20px;
  }
  
  .senhas{
    color: rgb(255, 253, 253);
  }
  .links{
    color: rgba(218, 221, 46, 0.836);
  }
  button{
    padding: 5px 10px;
    width: 100px;
    background-color: rgb(240, 141, 13);
    border-radius: 20px;
    border: 2px solid white;
    color: black;
    font-weight: bolder;
  }
  button:hover{
    background-color: #6188FF;
    color: black;
    cursor: pointer;
    box-shadow:2px 2px 15px 8px white;
    border: 2px solid black;
  }
  .favorito{
    background-color: rgba(240, 142, 13, 0.158);
  }
  span{
    color: white;
  }
  p{
    display: none;
  }
  img{
    width: 20vw;
  }
  
  .image-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.322);
    border-radius: 15px;
    border: 2px solid rgb(240, 141, 13);
    box-shadow: -2px -6px 6px rgb(240, 141, 13);
    width: 95vw;
    margin: auto;
  }
  
  .image-container img {
    width: 200px; /* Defina o tamanho desejado para as imagens */
    height: auto;
    margin: 10px;
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
    cursor: pointer;
  }
  
  .image-container img:hover {
    transform: scale(1.2); /* Aumenta o tamanho da imagem quando o mouse passar por cima */

  }
  
  /* Segunda efeito */

  #imagem-ampliada {
    display: none;
    position: fixed;
  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(139, 130, 130, 0.836);
    text-align: center;
    padding-top: 10%;
  }
  
  #imagem-ampliada img {
    max-width: 90%;
    max-height: 90%;
  }
  
  .fechar {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
  }
  
  .image-container img {
    width: 200px;
    height: auto;
  }
a{
  color: rgb(240, 141, 13);
  margin: 10px;
  text-decoration: none;
  font-weight: bolder;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
}
a:hover{
  background-color: rgba(255, 255, 255, 0.26);
  color:white;
  box-shadow: 1px 1px 20px  rgb(240, 141, 13);
}
nav{
  text-align: center;
  padding: 30px;
  background-color: #0b1533be;
  border-bottom: 2px solid rgb(240, 141, 13);
}
@media (max-width: 970px) {
  a{
    display: block;
    margin-top: 10px;
  }
}
section img{
  border-radius: 10px;
}
html {
  scroll-behavior: smooth;
}
/* icone de voltar ao topo */
#voltar-ao-topo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#voltar-ao-topo img {
  width: 60px;
  color: white;
}
